/Ficha1/HelloWorldApp/nbproject/private/
/Ficha1/HelloWorldApp/build/
/Ficha1/HelloWorldApp/dist/
/Ficha1/PP_FP01/nbproject/private/
/Ficha1/PP_FP01/build/
/Ficha1/PP_FP01/dist/
/Ficha1/exerc/ex1/nbproject/private/
/Ficha1/exerc/ex1/build/
/Ficha1/exerc/ex2/nbproject/private/
/Ficha1/exerc/ex3/nbproject/private/
/Ficha1/exerc/ex3/build/
/Ficha1/exerc/ex4/nbproject/private/
/Ficha1/exerc/ex5/nbproject/private/
/Ficha1/exerc/ex5/build/
/Ficha1/exerc/ex6/nbproject/private/